In [27]:
# importing packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [28]:
Stock_df=pd.read_csv('Stocks_data_set.csv')

In [29]:
Stock_df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-02-05,262.000000,267.899994,250.029999,254.259995,254.259995,11896100
1,2018-02-06,247.699997,266.700012,245.000000,265.720001,265.720001,12595800
2,2018-02-07,266.579987,272.450012,264.329987,264.559998,264.559998,8981500
3,2018-02-08,267.079987,267.619995,250.000000,250.100006,250.100006,9306700
4,2018-02-09,253.850006,255.800003,236.110001,249.470001,249.470001,16906900
...,...,...,...,...,...,...,...
1004,2022-01-31,401.970001,427.700012,398.200012,427.140015,427.140015,20047500
1005,2022-02-01,432.959991,458.480011,425.540009,457.130005,457.130005,22542300
1006,2022-02-02,448.250000,451.980011,426.480011,429.480011,429.480011,14346000
1007,2022-02-03,421.440002,429.260010,404.279999,405.600006,405.600006,9905200
1008,2022-02-04,407.309998,412.769989,396.640015,410.170013,410.170013,7782400

In [30]:
# Finding no of rows and columns
Stock_df.shape

(1009, 7)

In [31]:
# Cheching if any data is missing
Stock_df.isna().any()

Date         False
Open         False
High         False
Low          False
Close        False
Adj Close    False
Volume       False
dtype: bool

In [32]:
# listing the variables involved 
Stock_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1009 entries, 0 to 1008
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       1009 non-null   object
 1   Open       1009 non-null   float64
 2   High       1009 non-null   float64
 3   Low        1009 non-null   float64
 4   Close      1009 non-null   float64
 5   Adj Close  1009 non-null   float64
 6   Volume     1009 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 55.3+ KB

In [33]:
# Checking for duplicate values if any
Stock_df.duplicated().sum()

0

In [39]:
# Checking if there are any redundant data
#Stock_df['Close'].equals(Stock_df['Adj Close'])
Stock_df =Stock_df.loc[:,['Date','Open','High','Low','Adj Close']]
Stock_df = Stock_df.rename(columns={'Adj Close':'close'})

In [41]:
nday=2
Stock_df['change'] = (Stock_df['close'].pct_change())*100
Stock_df

            Date        Open        High         Low       close     change
0     2018-02-05  262.000000  267.899994  250.029999  254.259995        NaN
1     2018-02-06  247.699997  266.700012  245.000000  265.720001   4.507200
2     2018-02-07  266.579987  272.450012  264.329987  264.559998  -0.436551
3     2018-02-08  267.079987  267.619995  250.000000  250.100006  -5.465676
4     2018-02-09  253.850006  255.800003  236.110001  249.470001  -0.251901
...          ...         ...         ...         ...         ...        ...
1004  2022-01-31  401.970001  427.700012  398.200012  427.140015  11.130199
1005  2022-02-01  432.959991  458.480011  425.540009  457.130005   7.021115
1006  2022-02-02  448.250000  451.980011  426.480011  429.480011  -6.048606
1007  2022-02-03  421.440002  429.260010  404.279999  405.600006  -5.560213
1008  2022-02-04  407.309998  412.769989  396.640015  410.170013   1.126728

[1009 rows x 6 columns]

In [42]:
Stock_df['predict'] = Stock_df['change'].shift(-nday)
Stock_df

,Date,Open,High,Low,close,change,predict
0,2018-02-05,262.000000,267.899994,250.029999,254.259995,NaN,-0.436551
1,2018-02-06,247.699997,266.700012,245.000000,265.720001,4.507200,-5.465676
2,2018-02-07,266.579987,272.450012,264.329987,264.559998,-0.436551,-0.251901
3,2018-02-08,267.079987,267.619995,250.000000,250.100006,-5.465676,3.399211
4,2018-02-09,253.850006,255.800003,236.110001,249.470001,-0.251901,0.124046
...,...,...,...,...,...,...,...
1004,2022-01-31,401.970001,427.700012,398.200012,427.140015,11.130199,-6.048606
1005,2022-02-01,432.959991,458.480011,425.540009,457.130005,7.021115,-5.560213
1006,2022-02-02,448.250000,451.980011,426.480011,429.480011,-6.048606,1.126728
1007,2022-02-03,421.440002,429.260010,404.279999,405.600006,-5.560213,NaN
1008,2022-02-04,407.309998,412.769989,396.640015,410.170013,1.126728,NaN